body {
    background-color: #FFFFFF url(../img/bg.gif) repeat-x scroll center top; 
    color: #000;
}

#container {
    width: 100%;
}


a {
    color: #14456e;
}
h2, h3 {
font-size:medium;
}

body {
    -x-system-font:none;
    font-family:'Gill Sans','Gill Sans MT',Verdana,sans-serif;
    font-size:medium;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height: 18px;
    font-size: 12px;
}



img { border: none; }

#main-footer {
    clear: both;
    width: 100%;
}

#edit {
    height: 100%;
    overflow:hidden;
}
#edit #fedit {
    display: block;
    position: relative;
     width: 50%;
    float: left;
    height: 100%;

}

#edit #mdpreview {
    display: block;
    position: relative;
    width: 48%;
    float: right;
    height: 100%;
    margin:0;
   padding: 0; 
    overflow: auto;    
}

#fedit p {
    display: block;
    padding-bottom: 5px;
}
form label {
    display: block;
    width: 14em;
    height: 11px;
    float: left;
    padding: 0 1em 3px 0;
}
input[type='text'], 
input[type='password'],
select {
    width: 174px;
    border: 1px solid;
    margin: 0;
}

#fedit textarea {
    width: 99%;
    height: 100%;
    border: 1px solid;
    height: 280px;
}
